/* standar styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #fff;
  color: #333;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto;
  width: 100%;
}

aside {
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  float: left;
  margin: 0;
  padding: 0 30px 0 0;
  width: 135px;
  position: fixed;
  height: 100%;
  top: 0;
}

aside nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  padding: 12px;
}

aside nav a {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 18px;
  text-decoration: none;
}

nav a {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

nav a.active {
  color: #31c9d4;
}

a.active::before {
  content: "";
  top: 12px;
  height: 100%;
  border-left: 4px solid #31c9d4;
  color: #000;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}

section {
  padding-top: 12px;
  padding-bottom: 92px;
  text-align: end;
  width: 75%;
  margin-left: 250px;
}

section a {
  font-size: 28px;
  color: #31c9d4;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 18px;
  text-decoration: none;
}

header {
  padding: 25px 0 0 25px;
  text-align: center;
}

.div-iframe {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

hr{
  position:relative;
  align-content: end;
  width: 75%;
  height: 1px;
  margin-left: 250px;
  background-color: #31c9d4;
  border: none;
}
.about-container{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
  text-align: center;
}

.about-container h2{
  font-size: 44px;
  color: #31c9d4;
}
.about-container p{
  font-size: 20px;
  line-height: 30px;
}

.members{
  list-style: none;
  padding: 0;

}

.members img{
  border-radius: 60%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.members li{
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 30%;

}

.second-row{
display: block;
    margin-top: 30px;
}